.li{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid rgba(242, 92, 5, 0.3);
    border-radius: 10px;
    background-color: #F0F2F1;
}
.li:hover {
    border: 2px solid rgba(242, 92, 5, 1);
    background-color: white;

}
.alteration {
    display: inline-flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .alteration h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }

  .amounts {
    display: inline-flex;
    justify-content: space-between;
  }
  
  .amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    font-weight: bold;
    color: rgb(242, 92, 5);
    font-size: 1rem;
  }

  .amount span {
    color: #010B40;
    font-size: 0.75rem;
    
  }
  .cals {
    font-size: 1.25rem;
    color: white;
    color: #F25C05;
    display: flex;
    flex-direction: column;
  }
