.clientInfo {
    align-self: center;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.clientItem {
    display: inline-flex;
    gap: 1rem;
    animation: formInput 1s ease-in-out;
    
}

.clientItem span {
    color: #F25C05;
}


